.main {
    padding: 2% 4%;
    
    &__titulo {
        margin: 0% 0% 1.5rem;;
        &--align {
            @extend .main__titulo;
            text-align: center;
            /* margin-bottom: 1.5rem; */
        }
        &--margin {
            @extend .main__titulo;
            margin-left: 15%;
            /* margin-bottom: 1.5rem; */
        } 
        &--width{
            width: 20rem;
        }
    }

    &__card {
        background-color: map-get($coloresFondo, main);
        border-radius: 20px;
        margin: 3% 0%;
        &__link {
            padding-left: 0px;
            &__img {
                width: 100%;
                height: 100%;
            }
            .bordes_left {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }
        &__desc {
            /* display: flex; */
            align-items: center;
            p {
                margin-top: 16px;
            }
            &__title {
                display: block;
                text-align: center;
                margin-bottom: 0.8rem;
                font-weight: bold;
            }
        }
    }

    &--juego {
        @extend .main;
        padding-bottom: 2.5rem;
        & .row--marginb {
            margin-bottom: 1.5rem;
            .main__img {
                width: 100%;
            }
            .clasificacion {
                direction: rtl;
                unicode-bidi: bidi-override;
                .star {
                    font-size: 2rem;
                    color: grey;  
                }
                input[type="radio"] {
                    display: none;
                }

                .star:hover,
                .star:hover ~ .star {
                    color: orange;
                }
                
                input[type="radio"]:checked ~ .star {
                    color: orange;
                }
            }
            .main__comentario__char {
                display: flex;
                justify-content: space-between;
            }
            .star_disabled {
                font-size: 1.7rem;
                color: grey; 
                margin-bottom: 0px;
            }
            .star_enabled {
                font-size: 1.7rem;
                color: orange;
                margin-bottom: 0px;
            }
        } 

        & .row--similares {
            margin: 1rem 0px 0px;
            justify-content: space-between;

            & .card-body--padding {
                padding:  0.5rem 0.5rem 0.3rem;
                text-align: center;
                & span {
                    font-weight: 500;
                }
            }
        }

        & em {
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
            font-style: normal;
            margin-bottom: 0.5rem;
        }
    }

    &__rowcat {
        margin: 1.5rem 0% 0%; 
        justify-content: space-around;

        &__card {
            width: 20rem;
            margin-bottom: 1.5rem;
            &__img:hover {
                overflow:hidden;
                img {
                    -webkit-transform:scale(1.3);transform:scale(1.3);
                    transition:all .8s ease-in-out;
                }
            }
        }

        .card-body--align {
            text-align: center;
            em {
                font-size: 1.25rem;
                font-weight: 500;
                font-style: normal;
            }
        } 
    }

    &__campo {
        width: 70%;
        margin-left: 15%;
    }

    &__boton {
        display: flex;
        justify-content: right;
        &--width--mleft{
            @extend .main__boton;
            width: 70%;
            margin-left: 15%;
        }
        &__juego {
            @extend .main__boton;
            margin-bottom: 1rem;
            margin-right: 2rem;
        }
    }
}