/* Grid CSS */
body{
    margin: auto;
}

.header {
    background-color: #D6DBFA;
    padding: 0% 4% 2%;
    display: grid;
    grid-template-areas: 
    "logomenu"
    "titulo";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.header__logomenu {
    grid-area: logomenu;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__titulo {
    grid-area: titulo;
    text-align: center;
}

ul li {
    display: inline;
    padding: 3px;
}

a {
    text-decoration: none;
}

.main {
    padding: 2% 4% 10%;
    display: grid;
    grid-template-areas: 
    "titulo vacio"
    "imagen1 descripcion1"
    "imagen2 descripcion2"
    "imagen3 descripcion3";
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-columns: 1fr 3fr;
    row-gap: 5%;
}

.main--categorias {
    display: block;
}

.main--juego {
    padding: 2% 4% 10%;
    display: grid;
    grid-template-areas: 
    "juego"
    "comentario"
    "opiniones"
    "similares";
    grid-template-rows: 1.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr;
}

.main__titulo {
    grid-area: titulo; 
}

.main__titulo--align {
    text-align: center;
}

.main__vacio {
    grid-area: vacio;
}

.main__ancla1 {
    grid-area: imagen1;
    padding: 0% 8% 0% 0%;
    background-color: #F1EFFC;
    
}

.main__desc1 {
    grid-area: descripcion1;
    padding: 5% 0%;
    background-color: #F1EFFC;
}

.main__ancla2 {
    grid-area: imagen2;
    padding: 0% 8% 0% 0%;
    background-color: #F1EFFC;
    
}

.main__desc2 {
    grid-area: descripcion2;
    padding: 5% 0%;
    background-color: #F1EFFC;
    
}

.main__ancla3 {
    grid-area: imagen3;
    padding: 0% 8% 0% 0%;
    background-color: #F1EFFC;
    
}

.main__desc3 {
    grid-area: descripcion3;
    padding: 5% 0%;
    background-color: #F1EFFC;
    
}

.main__ancla__img {
    width: 100%;
    height: 100%;
}

.bordes_left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bordes_right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.fila {
    display: grid;
    grid-template-areas: 
    "col1 col2 col3";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.main__card1 {
    grid-area: col1;
}

.main__card2 {
    grid-area: col2;
}

.main__card3 {
    grid-area: col3;
}

.main__card__img {
    margin: 5% 10%;
    width: 80%
}

.main__card__text {
    text-align: center;
}

.main__play {
    grid-area: juego;
}

.main__comentario {
    grid-area: comentario;
}

.main__opiniones {
    grid-area: opiniones;
}

.main__similares {
    grid-area: similares;
}

.main__similares__anclas {
    display: flex;
    justify-content: space-between;
}

.main__img {
    width: 100%;
}

.main__form__textarea {
    width: 99%;
    background-color: rgb(250, 240, 240);
}

.main__comentario__char {
    display: flex;
    justify-content: space-between;
}

.main__form__btn {
    display: flex;
    justify-content: right
}

.main__similares__ancla_img{
    width: 100%;
}

.main__similares__ancla div {
    text-align: center;
}

.footer {
    display: grid;
    grid-template-areas: 
    "container";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.container {
    grid-area: container;
    background-color: #D6DBFA;
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__titulo {
    width: 70%;
    padding: 1% 0%;
    text-align: center;
}

.footer__img {
    width: 60%;
    border-radius: 7px;
}

 .footer__ancla {
    display: flex;
    justify-content: right;
}