@import "estiloCabecera";
@import "estiloMain";
@import "estiloFooter";

body{
    margin: auto;
}

.btn-outline-success {
    color: $colorBtn;
    border-color: $colorBtn;
}

@mixin estilosBtnEvento {
    background-color: $colorBtn;
    border-color: $colorBtn;
    color: $colorTextoBtn;
}

.btn-outline-success:hover {
    @include estilosBtnEvento(); 
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem rgba(40, 80, 167, 0.5);
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    @include estilosBtnEvento();
}

.ultimo + div {
    visibility: hidden;
}
