@import "estiloCabecera";
@import "estiloMain";
@import "estiloFooter";

body{
    margin: auto;
}

.btn-outline-success {
    color: $colorBtn;
    border-color: $colorBtn;
}

@mixin estilosBtnEvento {
    background-color: $colorBtn;
    border-color: $colorBtn;
    color: $colorTextoBtn;
}

.btn-outline-success:hover {
    @include estilosBtnEvento(); 
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem rgba(40, 80, 167, 0.5);
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    @include estilosBtnEvento();
}

.main__img {
    width: 100%;
}

.main__form__textarea {
    width: 99%;
    background-color: rgb(250, 240, 240);
}

.main__comentario__char {
    display: flex;
    justify-content: space-between;
}

.main__form__btn {
    display: flex;
    justify-content: right
}

.main__campo {
    width: 70%;
    margin-left: 15%;
}

.main__boton {
    display: flex;
    justify-content: right;
    width: 70%;
    margin-left: 15%;
}


